<!DOCTYPE html>
<html>
  <head>
    <title>Bso</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script src="https://apis.google.com/js/api.js"></script>
    <script>
      gapi.load('client', function() {
        console.log('loaded client')

        gapi.client.setApiKey('AIzaSyCK9oJIgiAJKJIJNExDsxU0ZTaffQcZpEM');
        gapi.client.load('https://content.googleapis.com/discovery/v1/apis/youtube/v3/rest')
                 .then(function() { console.log("GAPI client loaded for API"); },
                       function(err) { console.error("Error loading GAPI client for API", err); })
      })
    </script>

    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
