<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      a.cta {
        background: #e53e3e;
        border-radius: 5px;
        color: #FFF;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        margin: 0 auto;
        padding: 10px 20px;
        text-decoration: none;
      }

      footer {
        display: block;
        padding: 20px 0;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
